---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="The Masterfabela Musical Choice.">
  <main>
    <div class="astro-a image_preview_container">
      <div class="image_preview"></div>
    </div>

    <h1>
      <span class="title text-gradient"
        >The <span class="background-logo">Masterfabela</span> Choice</span
      >
    </h1>

    <ul role="list" class="link-card-grid">
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/0uQVkqWdjmjI2PyBeXHJDS?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/0zEwTq1hoFVpI9BNhJxBda?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/5ObACsupwtxnYfOWKO0Wzo?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen;
        picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/7vAOyd9QWtZ54IEtLrA0yX?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/2Y0iGXY6m6immVb2ktbseM?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/0yLGHXKTiVrSUcsUvvoJwN?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/6G5vNAlLT268YWSB0ZVI6J?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/0pQskrTITgmCMyr85tb9qq?utm_source=generator"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/7vOgeTXzf58jQdV5127Kfu?utm_source=generator"
        width="100%"
        height="352"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/4AFpvq7RIoky0hxjn1fKoO?utm_source=generator"
        width="100%"
        height="352"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/73vIOb4Q7YN6HeJTbscRx5?utm_source=generator"
        width="100%"
        height="352"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/1thjuMFazb5PYQx30OAzrb?utm_source=generator"
        width="100%"
        height="352"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <iframe
        style="border-radius:12px"
        src="https://open.spotify.com/embed/track/1txab4Cev8wK7qnFvNLokL?utm_source=generator"
        width="100%"
        height="352"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
    </ul>
  </main>
</Layout>

<style>
  main {
    z-index: 2;
    margin: auto;
    padding: 1rem;
    width: 2000px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    .title {
      padding: 1rem;
      text-align: center;
    }
    .logo {
      border-radius: 50%;
      opacity: 0.5;
      margin-top: 3rem;
    }
    .image_preview_container {
      /*
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 50%,
        transparent 100%
      );
      */
    }
    .image_preview {
      background-image: url('assets/logo.png');
    }
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  h1 {
    position: fixed;
    z-index: 1;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    @media only screen and (max-width: 450px) {
      font-size: 30pt;
    }
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    .background-logo {
      background: url('assets/logo.png');
      background-clip: text;
    }
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #13151a;
    z-index: 2;
    display: grid;
    margin-top: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(48ch, 1fr));

    @media only screen and (max-width: 800px) {
      margin-top: 14rem;
    }

    @media only screen and (max-width: 600px) {
      margin-top: 18rem;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    }
    @media only screen and (max-width: 450) {
      margin-top: 7rem;
    }

    gap: 2rem;
    padding: 0;
    iframe {
      transition: opacity 0.2s;
      opacity: 0.5;
      &:hover,
      &:active {
        opacity: 1;
      }
    }
  }
</style>
